*.cover
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.env
.git
.hypothesis
.mypy_cache
.pytest_cache
.tox
__pycache__
coverage.xml
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt