name: Docker Build/Publish Image

on:
  push:
    branches:
      - "main"
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+' # Match major.minor.patch (e.g., 0.6.1)
      - '[0-9]+\.[0-9]+'         # Match major.minor (e.g., 0.6)

permissions:
  contents: read
  packages: write
  actions: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: |
            gfsolone/telegram-bot-amazon
            ghcr.io/${{ github.repository_owner }}/telegram-bot-amazon
          tags: |
            latest
            ${{ github.ref_name }}
            ${{ github.ref_name }}-latest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.7.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Login to DockerHub
        if: github.ref != 'refs/heads/main' # Only on tag, not regular push
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GHCR
        if: github.ref != 'refs/heads/main' # Solo sui tag
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.ref != 'refs/heads/main' }} # Only on tag, not regular push
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}

      - name: Update repo description
        uses: peter-evans/dockerhub-description@v5.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          repository: gfsolone/telegram-bot-amazon
          short-description: ${{ github.event.repository.description }}
        if: github.ref != 'refs/heads/main' # Only on tag, not regular push